/* main styles for the application */

.row {
    display: table;
    width: 100%;
}

.column {
    display: table-cell;
}

.app-title {
    font-family: 'Poppins', sans-serif;
    color: #2B2730;
    font-size: 1.5rem;
    font-weight: 600;
}

body {
    padding-left: 12rem;
    padding-right: 12rem;
}

.stick-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.search-field {}