/* main styles for the application */

.row {
    display: table;
    width: 100%;
}

.column {
    display: table-cell;
}

.app-title {
    font-family: 'Poppins', sans-serif;
    color: #2B2730;
    font-size: 1.5rem;
    font-weight: 600;
}

body {
    padding-left: 12rem;
    padding-right: 12rem;
}

.stick-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.search-field {
    padding: 14px 8px;
    width: 23rem;
    border-radius: 4px;
    border: 0.5px solid rgba(43, 39, 48, 0.3);
    font-family: 'Poppins', sans-serif;
}

.search-field:hover{
    padding: 14px 8px;
    width: 23rem;
    border-radius: 4px;
    border: 0.8px solid rgba(43, 39, 48, 0.5);
    font-family: 'Poppins', sans-serif;
}

.search-field:focus{
    padding: 14px 8px;
    width: 23rem;
    border-radius: 4px;
    border: 0.8px solid rgba(43, 39, 48, 0.5);
    font-family: 'Poppins', sans-serif;
    color: rgba(43, 39, 48, 1);
}
